<launch>
    <node pkg="project1" type="velocity" name="velocity_estimator" output="screen"/>
    <node pkg="project1" type="odometry" name="odometry_calculator" output="screen"/>
    <node pkg="project1" type="tf2broadcaster" name="odometry_broadcaster" output="screen"/>
    <node pkg="project1" type="tf2bag" name="bag_broadcaster" output="screen"/>
    <node pkg="project1" type="control" name="control_evaluator" output="screen"/>
    <!-- <node pkg="project1" type="reset_client" name="reset_client" output="screen"/> -->

    <!-- In order to resolve any issues with startup order, it is important that the
    /use_sim_time Parameter is set to true in any launch files using a Clock Server.
    If you are playing back a bag file with rosbag play, using the '-''-'clock option will
    run a Clock Server while the bag file is being played. [wiki.ros.org]  -->
    <param name="/use_sim_time" value="true"/>

    <!-- wheel parameters -->
    <param name="wheels/r" value="0.0795"/>
    <param name="wheels/l" value="0.200"/>
    <param name="wheels/w" value="0.169"/>
    <!-- Gear ratio (wheel - motor) -->
    <param name="wheels/T" value="5"/>
    <!-- Encoders resolution [measured in counts (ticks) per revolution] -->
    <param name="wheels/N" value="43"/>

    <!-- bag1: 0.008653 0.004113 -0.028451
         bag2: 0.024222 0.003743 -0.009419
         bag3: 0.005460 0.039970 -0.012990
         default: bag1 -->
    <param name="init/x" value="0.008653"/>
    <param name="init/y" value="0.004113"/>
    <param name="init/theta" value="-0.028451"/>

</launch>
